<!DOCTYPE HTML>
<HTML ng-app="clientsModule">
<HEAD>
 <META CHARSET="UTF-8">
 <TITLE>GESTION DE CLIENTES</TITLE>
 <SCRIPT SRC="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js">
 </SCRIPT>
 <SCRIPT SRC="app.js">
 </SCRIPT>
</HEAD>
<BODY ng-controller="clientsController1">
 <H2>GESTION CLIENTES</H2> <BR />
 <FORM ID="clientsForm" NAME="clientsForm" ng-model="clientsForm" NOVALIDATE>
   <LABEL>Tipo de identificaci&oacute;n (*)</LABEL>
   <SELECT ID="tipo_identificacion" NAME="tipo_identificacion" ng-model="cliente.selectedTypeID" ng-change="showClientsByID()" ng-init="getTiposIdentificacion()" required >
     <OPTION ng-repeat="id_tipo_id in ids_tipo_id" value="{{id_tipo_id.id_tipo_identificacion}}">{{id_tipo_id.descripcion}}</OPTION>
   </SELECT>&nbsp;&nbsp;&nbsp;<LABEL ng-show="!cliente.selectedTypeID && clientsForm.$submitted">Campo requerido</LABEL> <BR /><BR />
   <LABEL>N&uacute;mero de identificaci&oacute;n (*)</LABEL>
   <INPUT TYPE="TEXT" ID="numero_identificacion" NAME="numero_identificacion" ng-model="cliente.numero_identificacion" ng-keyup="validateNumber()" required />
   &nbsp;&nbsp;&nbsp;<LABEL ng-show="!cliente.numero_identificacion && clientsForm.$submitted">Campo requerido</LABEL> <BR /><BR />
   <LABEL>Nombres (*)</LABEL>
   <INPUT TYPE="TEXT" ID="nombres" NAME="nombres" ng-model="cliente.nombres" required />&nbsp;&nbsp;&nbsp;<LABEL ng-show="!cliente.nombres && clientsForm.$submitted">Campo requerido</LABEL> <BR /><BR />
   <LABEL>Apellidos (*)</LABEL>
   <INPUT TYPE="TEXT" ID="apellidos" NAME="apellidos" ng-model="cliente.apellidos" required />&nbsp;&nbsp;&nbsp;<LABEL ng-show="!cliente.apellidos && clientsForm.$submitted">Campo requerido</LABEL> <BR /><BR />
   <LABEL>Direccion (*)</LABEL>
   <INPUT TYPE="TEXT" ID="direccion" NAME="direccion" ng-model="cliente.direccion" required />&nbsp;&nbsp;&nbsp;<LABEL ng-show="!cliente.direccion && clientsForm.$submitted">Campo requerido</LABEL> <BR /><BR />
   <LABEL>Telefono (*)</LABEL>
   <INPUT TYPE="TEXT" ID="telefono" NAME="telefono" ng-model="cliente.telefono" required />&nbsp;&nbsp;&nbsp;<LABEL ng-show="!cliente.telefono && clientsForm.$submitted">Campo requerido</LABEL> <BR /><BR />
   <LABEL>Sexo (*)</LABEL>
   <SELECT NAME="sexo" ID="sexo" ng-model="cliente.sexo" required>
     <OPTION>M</OPTION>
     <OPTION>F</OPTION>
   </SELECT>
   &nbsp;&nbsp;&nbsp;<LABEL ng-show="cliente.sexo!='M' && cliente.sexo!='F' && clientsForm.$submitted">Campo requerido</LABEL>  <BR /><BR />
   <LABEL>Fecha nacimiento (*)</LABEL>
   <INPUT TYPE="DATE" ID="fecha_nacimiento" NAME="fecha_nacimiento" ng-model="cliente.fecha_nacimiento" ng-change="calcularEdad()" required />&nbsp;&nbsp;&nbsp;<LABEL ng-show="!cliente.fecha_nacimiento && clientsForm.$submitted">Campo requerido</LABEL> <BR /><BR />
   <LABEL>Edad</LABEL>
   <INPUT TYPE="TEXT" ID="edad" NAME="edad" ng-model="cliente.edad" DISABLED="DISABLED" /><BR /><BR />
   <LABEL><B>(*) Informacion requerida</B></LABEL> <BR /><BR />
   <INPUT TYPE="HIDDEN" ID="id_clientes" NAME="id_clientes" ng-model="cliente.id_clientes" />
   <INPUT TYPE="SUBMIT" NAME="submit" VALUE="ADICIONAR" ng-click="enviarAccionCliente('insert')" ng-model="submit1" ng-show="!cliente.id_clientes" > &nbsp;&nbsp;&nbsp;
   <INPUT TYPE="SUBMIT" NAME="submit" VALUE="MODIFICAR" ng-click="enviarAccionCliente('update')" ng-model="submit1" ng-show="cliente.id_clientes"> &nbsp;&nbsp;&nbsp;
   <INPUT TYPE="BUTTON" VALUE="LIMPIAR" ng-click="cleanClients()"> &nbsp;&nbsp;&nbsp;
   <INPUT TYPE="BUTTON" VALUE="CONSULTAR" ng-click="listaClientes1()"> &nbsp;&nbsp;&nbsp;
   <INPUT TYPE="SUBMIT" NAME="submit" VALUE="ELIMINAR" ng-click="enviarAccionCliente('delete')" ng-show="cliente.id_clientes" ng-model="submit1">
 </FORM> <BR /><BR />
 <TABLE BORDER="1">
   <TR>
     <TH>
       TIPO IDENTIFICACION
     </TH>
     <TH>
       NUMERO IDENTIFICACION
     </TH>
     <TH>
       NOMBRES
     </TH>
     <TH>
       APELLIDOS
     </TH>
     <TH>
       EDAD
     </TH>
     <TH>
       SEXO
     </TH>
     <TH>
       DIRECCION
     </TH>
     <TH>
       TELEFONO
     </TH>
     <TH>
       FECHA NACIMIENTO
     </TH>
   </TR>
   <TR ng-repeat="l_cliente in l_clientes">
     <TD>{{l_cliente.tipo_identificacion}}</TD>
     <TD>{{l_cliente.numero_identificacion}}</TD>
     <TD>{{l_cliente.nombres}}</TD>
     <TD>{{l_cliente.apellidos}}</TD>
     <TD>{{l_cliente.edad}}</TD>
     <TD>{{l_cliente.sexo}}</TD>
     <TD>{{l_cliente.direccion}}</TD>
     <TD>{{l_cliente.telefono}}</TD>
     <TD>{{l_cliente.fecha_nacimiento}}</TD>
   </TR>
 </TABLE>
</BODY>
</HTML>
